<%= stylesheet_link_tag "categories_show" %>

<section class="category-section">
  <%= render @category %>

  <div class="actions">
    <%= link_to "Edit category", edit_category_path(@category), class: "btn" %>
    <p class="total-spent">Total spent: <span>$100</span></p>
    <%= button_to "Delete category", @category, method: :delete, class: "btn delete-btn" %>
  </div>

</section>